
h1{
    text-align: center;
}
.foodim{
    text-align:center;
}
html{
    background-color:dimgray;
    font-family:'Times New Roman', Times, serif;
}
ol,ul{
    background:white;
    border-style: groove;
    border-color: black;
}
ul{
    margin: 25px;
    width: 8em;

}
li{
    padding: 10px;
}
.home{
    font-size:20px;
    color: white;
}
#frim{
    height:auto;
    width: 250px;
}