h1{
    text-align: center;
}
html{
    background-color:dimgray;
}
div {
    padding: 5em;
    text-align:center;
    margin-bottom: 20px;
    margin-left:5em;
    margin-right: 5em;
}
.pbj{
    background-color:white;
}
.cps{
    background-color: beige;
}
.friedrice{
    background-color:blanchedalmond;
}
