h1{
    text-align: center;
}
html{
    background-color:dimgray;
}
li{
    font-size:20px;
    color:white;
}
.button1 .button2 .button3{
    text-align: center;
}
#pbb{
    text-align: center;
    display:block;
    border: solid 4px black;
    background-color: white;
    margin: 2em;
    margin-left:8em;
    margin-right:8em;
    padding: 5em;
    font-size:20px;
}
#psb{
    text-align: center;
    display:block;
    border: solid 4px black;
    background-color:beige;
    margin: 2em;
    margin-left:8em;
    margin-right:8em;
    padding: 5em;
    font-size:20px;
}
#frb{
    text-align: center;
    display:block;
    border: solid 4px black;
    background-color:cornsilk;
    margin: 2em;
    margin-left:8em;
    margin-right:8em;
    padding: 5em;
    font-size:20px;
}
